*{
    margin: 0px;
    padding: 0px;
}
body{
    display: grid;
    grid-template-columns: 12% 88%;
    gap: 0px;
    width: 100%;
}

.navigation-menu {
    background-color: #152259;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .navigation-menu a {
    font-weight: bold;
    font-size: large;
    padding: 10px 45px 10px 20px;
    color: white;
    text-decoration: none;
  }
  ul{
    list-style-type: none;
  }

  .logo {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right:auto;
    border: red solid 1px;
    height: 10%;
    width: 55%;
    border-radius: 60%;
    background-image: url(1mb.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
  }

  .menu-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .menu-item i {
    margin-right: 10px;
  }

  a:focus, a:hover {
    background-color: #509CDB;
    border-radius: 5px;
  }
.navbar a {
    color:white;
}