<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="design.css">
</head>
<body>
<nav class="navigation-menu" th:fragment="navbar">
    <div class="logo">
    </div>
    <ul>
      <li>
        <div class="menu-item">
          <a class="nav-link active" href="/">Home</a>
        </div>
      </li>
      <li>
        <div class="menu-item">
          <a class="nav-link" href="/teacher">Teacher</a>
        </div>
      </li>
      <li>
        <div class="menu-item">
          <a class="nav-link" href="/student">Student</a>
        </div>
      </li>
    </ul>
  </nav>
<div class="content">
  Home Page
</div>
</body>
</html>