.form{
    background-color: white;
    border: #152259 1px solid;
    height: 70vh;
    width: 70vw;
    z-index: 4;
    position: fixed;
    display: none;
    top: 10%;
    left: 20%;
}
#x{
    background-color: red;
    border-radius: 50%;
    margin-left: 95%;
}
form{
    display: flex;
    height: 91%;
    width: 80%;
    flex-wrap: wrap;
}
label{
    font-weight: bolder;
}
input{
    width: 250px;
    padding: 5px;
}
form > div{
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    position: relative;
    left: 10%;
}
#btn{
    width: 40%;
}