.frm{
    background-color: white;
    width: 70%;
    height: 80%;
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    top: 10%;
    z-index: 2; 
    border-radius: 10px;
    border: #152259 2px solid;
}
#rns{
    text-align: center;
    position: relative;
    top: 30px;
    color: #152259;
}
#x{
    background-color: red;
    position: absolute;
    padding: 10px;
    left: 96%;
    border-radius: 40px;
    z-index: 4;
    cursor: pointer;
}
.tForm{
    display: flex;
    flex-direction: column;
    height: 50%;
    position: relative;
    top: 15%;
}
.sec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 40%;
    font-size: x-large;
}

#s2, #s1, #s3{
    margin-left: 100px;
}
#s3{
    width: 65%;
}

#sInp{
    padding: 15px;
    width: 120%;
    border: #152259 1px solid;
}
#sSub{
    width: 15%;
    padding: 20px;
    position: relative;
    left: 40%;
    background-color:#152259;
    border: none;
    border-radius: 10px;
}
#sSub:hover{
    background-color:white;
    color: #152259;
}
label{
    color: #152259;
}