.tbody{
    text-align: center;
    height: 40px;
    width: 100vw;
}
.studentPage{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas:"header""body";
    height: 100vh;
}
.topSection{
    grid-area:header;

}
.bodySection{
    grid-area: body;
}
#butn{
    padding: 20px;
    position: relative;
    left: 85%;
    top: 20%;
    background-color:#152259;
    border: none;
    border-radius: 10px;
    color: white;
}

#butn:hover{
    background-color:white;
    color: #152259;
    border: #152259 solid 1px ;
}