.active{
  background-color: #E9E9E9;
}
a{
    margin-left: 20px;
    margin-bottom: 10px;
}
#navTitle{
  margin-left: 10px;
  margin-top: 10px;
}
#tagIcon {
  background-image: url("../../../public/tages.svg");
  width: 32px;
  height: 32px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(100%);
}
#listOfTages{
  padding: 10px;
}
#Logo{
  background-image: url("../../../public/f.png");
  width: 60px;
  height: 72px;
  background-size: cover;
  background-repeat: no-repeat;
}
