*{
    margin : 0px;
    padding : 0px;
}

main{
    display: grid;
    grid-template-columns: 18% 82%;
    grid-template-rows: 1fr;

}
.bar{
    background-color: #152259;
    height: 100vh;
    color: white;
    grid-area: 1;

}
.top{
    border: green 2px solid;
    align-items: center;
    margin : 20px auto;
    padding : 50px;
}

.content{
    border: red 2px solid;
    align-items: center;
    margin : 20px auto;
    padding : 50px;

}
ul{
    list-style: none;
    display:flex;
    flex-direction: column;
    gap: 40px;
}
li{
    border:solid 1px #2d89d411;
    padding :10px 60px 10px 20px;
    border-radius: 10px;
}

.active{
    background-color: #2D88D4;
}
.notActive{
    background-color: none;
}

.page{
    grid-area: 1;
}

.Adding{
    background-color: green;
    z-index: 1;
}